{% extends 'layout.html' %}

{% block content %}
<h2 class="text-center mb-4">Register</h2>
<form action="{{ url_for('register') }}" method="POST" class="p-4 rounded border shadow-sm bg-light">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
    </div>
    <!-- New Checkbox for Admin Registration -->
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
        <label class="form-check-label" for="is_admin">Register as Admin</label>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-success btn-lg">Register</button>
    </div>
</form>


{% endblock %}
